sudo: false

language: go

go_import_path: go.uber.org/thriftrw

matrix:
  include:
    - go: 1.7
    - go: 1.8
    - go: 1.9
      env: LINT=1

env:
    global:
        - GO15VENDOREXPERIMENT=1

install:
    - make install_ci

script:
    - test "$LINT" -eq 1 && make lint_ci || echo "Skipping lint"
    - make test_ci
    - travis_retry goveralls -coverprofile=cover.out -service=travis-ci
    - rm -rf vendor/*
